* {
    box-sizing: border-box;
}
html, body {
    color: {{ sb.theme.primary_color }};
    font-family: {{ sb.theme.font_spec }};
    width: 100%;
    height: 100%;
}

.box {
    background: {{ sb.theme.background_color }};
    border-width: 1;
    border-style: solid;
    border-color: {{ sb.theme.primary_color }};
    padding: 1vh;
    font-size: 3vh;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.box-slot-1 {
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.box-slot-2 {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.box-center {
    text-align: center;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    flex-direction: column;
}

.info {
    flex-direction: row;
}

.small {
    font-size: 60%;
    color: {{ sb.theme.secondary_color }};
}

.medium {
    font-size: 80%;
    color: {{ sb.theme.secondary_color }};
}

.score {
    padding-left: 1vh;
    flex: 1;
    align-self: center;
}
