<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="container">
            <div class="tournament">
                <div class="tournament-name">{{ sb.slp.context.tournament_name }}</div>
                <div class="rule"><hr></div>
                <div class="tournament-location">{{ sb.tournament_date.strftime("%b %d, %Y").replace(" 0", " ") }}</div>
                <div class="tournament-location">{{ sb.slp.context.tournament_location }}</div>
                <div class="rule"><hr></div>
            </div>
            <div class="filler"></div>
            <img src="{{ sb.logo }}" width=80%></img>
            <div class="filler"></div>

            <div class="combatants">
                {% for slot in sb.slp.context.scores[sb.slp.index].slots %}
                {% if loop.first %}
                <div class="rule"><hr></div>
                {% endif %}
                <div class="combatant">
                    <div class="combatant-team">
                        {% for i in range(sb.slp.context.num_teams) %}
                        <div class="combatant-info">
                            <span class="combatant-sponsor">{{ slot.prefixes[i] }}</span>
                            <span class="combatant-tag">{{ slot.display_names[i] }}</span>
                            <span class="combatant-pronouns">{{ slot.pronouns[i] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% if not sb.checkbox %}
                    <div class="combatant-score">{{ slot.score }}</div>
                    {% else %}
                    <div class="set-score">
                        <div class="score-markers score-markers-right">
                            {% for i in range((sb.slp.context.best_of / 2) | round(0, 'ceil') | int) %}
                                <span class="marker {{ "is-won" if i < slot.score }}"></span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="bracket">
                <div class="rule"><hr></div>
                <div class="bracket-info">
                    <span class="bracket-data">{{ sb.slp.context.event_name }}</span>
                    <span class="bracket-data">{{ sb.slp.context.phase_name }}</span>
                    <span class="bracket-data">{{ sb.slp.context.round_name_short }}</span>
                    {% if not sb.checkbox %}
                    <span class="bracket-data">Bo{{ sb.slp.context.best_of }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
