* {
    box-sizing: border-box;
}
html, body {
    position: absolute;
    {% if sb.left %}
    left: 0px;
    {% else %}
    right: 0px;
    {% endif %}
    height: 100%;
    width: {{ 606 / 1080 * sb.size[1] }}px;
    margin: 0 0 0 0;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    color: {{ sb.config.theme.primary_color }};
    font-family: {{ sb.config.theme.font_spec }};
}
hr {
    border: 0;
    border-top: 1px solid {{ sb.config.theme.primary_color }};
}
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tournament {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
}
.rule {
    align-self: stretch;
    flex-grow: 1;
}
.tournament-name, .tournament-location {
    display: flex;
    text-align: center;
}
.tournament-name {
    font-size: 6vh;
}
.tournament-location {
    font-size: 3vh;
}
.filler {
    flex-grow: 1;
}
.combatants {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.combatant {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.combatant-team {
    flex-direction: column;
}
.combatant-info {
    flex-direction: row;
}
.combatant-sponsor, .combatant-tag, .combatant-pronouns {
    text-align: center;
}
.combatant-sponsor, .combatant-pronouns {
    font-size: 60%;
    color: {{ sb.config.theme.secondary_color }};
}
.combatant-score {
    padding-left: 1vh;
    text-align: right;
    flex: 1;
    align-self: center;
}
.bracket {
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.bracket-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.bracket-data {
    text-align: center;
}

.set-score {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
}

.score-markers {
    display: flex;
    align-items: center;
    gap: 0.1em;
    height: 1em;
    justify-content: flex-end;
    column-gap: 1.1vh;
}

.marker {
    box-sizing: border-box;
    height: 90%;
    aspect-ratio: 1 / 1;
    border: 0.1em solid {{ sb.config.theme.primary_color }};
    background: {{ sb.config.theme.background_color }};
}

.marker.is-won {
    background: {{ sb.config.theme.primary_color }};
}

.set-score {
    justify-self: right;
    width: max-content;
}
