<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="stage">
            {% for slot in sb.slp.context.data.scores[sb.slp.index].slots %}
            <section class="side {{ "left" if loop.first else "right" }}">
                <div class="info row1">
                    {% if loop.first %}
                    <div class="info-big">{{ sb.slp.context.data.tournament_name }}</div>
                    {% else %}
                    <img src="{{ sb.logo }}">
                    {% endif %}
                </div>
                <div class="row2"><hr></div>
                <div class="info info-small row3">
                    {% if loop.first %}
                    <div>{{ sb.slp.context.data.tournament_date.strftime("%b %d, %Y").replace(" 0", " ") }}</div>
                    {% else %}
                    <div>{{ sb.slp.context.data.tournament_location }}</div>
                    {% endif %}
                </div>
                <div class="row4"><hr></div>
                <div class="info info-medium">
                    {% for i in range(sb.slp.context.data.num_teams) %}
                    <div class="combatant row{{ 5 + i }}">
                        <div class="combatant-sponsor">{{ slot.prefixes[i] }}</div>
                        <div class="combatant-tag">{{ slot.display_names[i] }}</div>
                        <div class="combatant-pronouns">{{ slot.pronouns[i] }}</div>
                    </div>
                    {% endfor %}
                    <div class="combatant-score row7">{{ slot.score }}</div>
                </div>
                <div class="row8"><hr></div>
                <div class="info info-small row9">
                    {% if loop.first %}
                    <div>{{ sb.slp.context.data.phase_name }}</div>
                    {% else %}
                    <span>{{ sb.slp.context.data.round_name_short }}</span>
                    /
                    <span>Bo{{sb.slp.context.data.best_of }}</span>
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        </div>
    </body>
</html>
